<form class="form-auth" ng-submit="register()">
	<h2>Register</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.fullname" placeholder="Full Name" class="form-control" required><br>
	<input type="email" ng-model="user.username" placeholder="Email" class="form-control" required><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required><br>
	<input type="submit" value="Sign Up" class="btn btn-primary" />
</form>