<!DOCTYPE html>
<html ng-app="main">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Parcel.Express" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width" />
        
        <title>PARCEL EXPRESS - Ship Anything, Anywhere, Anytime.</title>
        
        <!-- Js/Styles -->
        <link href="/stylesheets/bootstrap.css" rel="stylesheet">
        <link href="/stylesheets/custom.css" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="/stylesheets/scrolling-nav.css" rel="stylesheet">
        
        <link href="/stylesheets/stylish-portfolio.css" rel="stylesheet">
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <script src="/js/modernzr.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        
        <!-- Scrolling Nav JavaScript -->
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/scrolling-nav.js"></script>
        
        <!-- <script src="/js/jquery-1.10.2.js"></script> -->
        <script src="/angular/angular.js"></script>
        <script src="/angular-route/angular-route.js"></script>
        <script src="/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/angular-resource/angular-resource.js"></script>
        <script src="/angular-filter/dist/angular-filter.js"></script>
        <script src="/underscore/underscore.js"></script>
        <!-- Controllers -->
        <script src="/modules/mainApp.js"></script>
        <script src="/controllers/MainController.js"></script>
        <script src="/controllers/AuthController.js"></script>
        <script src="/controllers/ModalWindowController.js"></script>
        <script src="/controllers/CarrierResultsController.js"></script>
        <script src="/controllers/BecomeCarrierController.js"></script>
        <script src="/controllers/TestController.js"></script>
        <script src="/controllers/AvailableController.js"></script>
        <script src="/controllers/CheckoutController.js"></script>

        <!-- dependencies -->
        <script src="/scripts/ui-bootstrap.js"></script>
        <script src="/scripts/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdjlu-hHvKii7XjO7cBAR-iRtiVFGU1BA&libraries=places"></script>
        <script src="/scripts1/vs-google-autocomplete.js"></script>
        <script src="/scripts2/smart-table.js"></script>
        <script src="/scripts4/ng-file-upload.js"></script>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });

            // $('#back-to-top').tooltip('show');
            });
        </script>
        <style>
            .Carrier-button {
            background-color: #FED141;
            color: #000000;
            border-color: #FED141;
            font-weight: bold;
            border-radius: 10px;
            margin-top:15px;
            width:150px;
            }   
            .CarrierButton:hover{
            color: #fff;
            }
            .slider{
            background:repeat top center;
            width:100%; float:left;
            height:100%
            }
            .back-to-top {
            cursor: pointer;
            position: fixed;
            bottom: 0;
            right: 20px;
            display:none;
            }
            .btn-scrollStyle {
            background-color: #F1C40F;
            color: #fff;
            border: 2px solid #F1C40F;
            border-radius:10px;
            }
            .alert-success1 {
            color: #FDFEFE;
            background-color: #27AE60;
            border-color: #d6e9c6;
            }
            .alert1 {
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 4px;
            }
            body{
            background-color:transparent;
        </style>
    </head>
    <body style="background-size: cover;background-position: center center;overflow-x: hidden;">
        <div ui-view>
        </div>
    </body>
</html>
