<div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>How GoFaster works</h2>
            <hr class="small">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-search fa-stack-1x text-primary"></i>
                        </span>
                        <h4>
                            <strong>Search</strong>
                        </h4>
                        <p>Enter "From" and "To" city to search for carriers and use sort-by option to filter carriers as per shipping date, pick-up time, package size, and price.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Choose</strong>
                        </h4>
                        <p>Select the carrier as per your requirement, pay online and request for pick-up.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Print</strong>
                        </h4>
                        <p>Once the payment is confirmed, shipping label will be generated which should be stuck to the parcel.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-paper-plane fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Track</strong>
                        </h4>
                        <p>You will get continuous updated via GoFaster App notification but you can also click on Track and enter your Waybil number to check the status.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
