<div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>How it Work?</h2>
            <hr class="small">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Compare</strong>
                        </h4>
                        <p>Compare prices between various shipping providers.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-compass fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Book</strong>
                        </h4>
                        <p>Book the preferred option and pay online.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-flask fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Print</strong>
                        </h4>
                        <p>Print the label and stick it to the parcel.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shield fa-stack-1x text-primary"></i>
                    </span>
                        <h4>
                            <strong>Track</strong>
                        </h4>
                        <p>Track the parcel by entering your Waybill Number.</p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
