<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><i>Swiftly</i><b>Ship</b></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                <a class="page-scroll" href="#about">HOW IT WORKS</a>
                </li>
                <li>
                <a class="page-scroll" href="#services">FIND DELIVERIES</a>
                </li>
                <li>
                <a class="page-scroll" href="#contact">TRANSPORT</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="authenticated">
                <a class="page-scroll" href="#" ng-click="loginmodal()" data-toggle="modal">SIGN IN</a>
                </li>
                <li ng-show="authenticated">
                <a class="page-scroll" href="#" ng-click="openProfilePage()">{{current_fullname.split(' ')[0]}}</a>
                </li>
                <li ng-show="authenticated">
                <a class="page-scroll" href="#" ng-click="signout()">SIGN OUT</a>
                </li>
                <li>
                <a class="page-scroll" href="#" ng-click="openBecomeaCarrier()" data-toggle="modal">JOIN</a>
                </li>
                <li>
                <a class="page-scroll" href="#contact">HELP</a>
                </li>
            </ul>
        </div>
    <!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav>

<style>
    input, select, textarea {
        min-width: 250px;
    }
    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

<div ng-view="intro.html">
</div>
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container body-content header">
                    <div style="padding-left:15%;padding-top:4%;position:absolute;">
                        <div style="border-radius:3px" class="alert1 alert-success1" ng-show="showSuccessAlert">
                            <button style="padding-left:5px;" type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">
                            ×
                            </button>
                        <strong>Done!</strong> {{successTextAlert}}
                        </div>
                    </div>
                </div>
                <h1><strong>Ship</strong> Anything, Anywhere, Anytime.</h1>
                <form class="form-inline">
                    <input vs-google-autocomplete="{ types:['(cities)'] }"
                    ng-model="from_city"
                    type="text"
                    name="From"
                    id="from"
                    class="form-control"
                    placeholder="From">
                    <input vs-google-autocomplete="{ types:['(cities)'] }"
                    ng-model="to_city"
                    type="text"
                    name="To"
                    id="to"
                    class="form-control"
                    placeholder="To">
                    <button id="s" class="btn btn-default" type="submit" ng-click="gotoCarrierResults()"> Find a Carrier
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="sender-section" class="sender-section">
    <div class="container">
        <div class="row">
        <div class="col-lg-5 col-sm-6">
            <div class="clearfix"></div>
                <p class="text-left"> TRANSPORTING WITH <i>Swiftly</i><b>Ship</b> </p>
                <h3 class="section-heading text-left">PICK YOUR PROVIDER AND PRICE</h3>
                <hr class="section-heading-spacer">
                <p class="lead text-left text-justify"><i>Swiftly</i><b>Ship</b> marketplace gives you access to thousands of trusted providers who compete for your business, so you can pick your price and ship with confidence.</p>
                <a class="btn btn-default page-scroll" href="#about">Get a Free Estimate</a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <img class="img-responsive" src="/images/person-woman-apple-hotel.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="carrier" class="carrier-section">
    <div class="container">
        <div class="row">
             <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <p class="text-left"> HAULING WITH <i>Swiftly</i><b>Ship</b> </p>
                <h3 class="section-heading text-left">BE THE MASTER OF YOUR DOMAIN</h3>
                <hr class="section-heading-spacer">
                <p class="lead text-left text-justify">With new shipments posted every 30 seconds, there’s always money to be made on <i>Swiftly</i><b>Ship</b>. Find lucrative jobs through the latest tools, no matter what you haul.</p>
                <a class="btn btn-default page-scroll" href="#about">Become a Carrier</a>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/images/pexels-photo-195477.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="business" class="business-section">
    <div class="container">
        <div class="row">
             <div class="col-lg-5 col-sm-6">
                 <div class="clearfix"></div>
                 <p class="text-left"> <i>Swiftly</i><b>Ship</b> FOR BUSINESS </p>
                 <h3 class="section-heading text-left">BUSINESS SHIPPING FOR LESS</h3>
                 <hr class="section-heading-spacer">
                 <p class="lead text-left text-justify">From booking to communications to payment, <i>Swiftly</i><b>Ship</b> helps you transport freight faster, cheaper, safer, and easier so you can stay focused on your business.</a>.</p>
                 <a class="btn btn-default page-scroll" href="#about">More</a>
             </div>
             <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                 <img class="img-responsive" src="/images/business-cash-coin-concept-41301.jpg" alt="">
             </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section id="footer" class="footer-section">
    <footer>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center;">
                <h1>Join our trusted network of carriers.</h1>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (+44) 78755-86699</li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:support@swiftlyship.com">support@swiftlyship.com</a>
                    </li>
                </ul>
                <br>
                <hr class="small">
                <p class="text-muted">Copyright &copy; <i>Swiftly</i><b>Ship</b> 2015</p>
            </div>
        </div>
     </footer>
</section>
<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>

    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function() {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function() {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function() {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
        var onMapMouseleaveHandler = function(event) {
            var that = $(this);
            that.on('click', onMapClickHandler);
            that.off('mouseleave', onMapMouseleaveHandler);
            that.find('iframe').css("pointer-events", "none");
        }
        var onMapClickHandler = function(event) {
                var that = $(this);
                // Disable the click handler until the user leaves the map area
                that.off('click', onMapClickHandler);
                // Enable scrolling zoom
                that.find('iframe').css("pointer-events", "auto");
                // Handle the mouse leave event
                that.on('mouseleave', onMapMouseleaveHandler);
            }
            // Enable map zooming with mouse scroll when the user clicks the map
        $('.map').on('click', onMapClickHandler);
    </script>