<!--<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>-->
<style>
    input, select, textarea {
        min-width: 250px;
    }
    .container{
        padding-right: 0px;
        padding-left: 0px; 
    }
</style>
<div class="header container">
    <div class="form-inline" style="color: #ffc800;text-align: center;vertical-align: middle;padding-top:10%;">
        <h2 style="font-size: 2.0em;font-weight: 600;">Find Carrier</h2>
        <input vs-google-autocomplete="{ types:['(cities)'] }"
               ng-model="from_city"
               type="text"
               name="From"
               id="from"
               class="form-control"
               placeholder="From">
        <input vs-google-autocomplete="{ types:['(cities)'] }"
               ng-model="to_city"
               type="text"
               name="To"
               id="to"
               class="form-control"
               placeholder="To">

        <span class="form-group-btn">
            <button type="submit" id="s" class="btn btn-default btn-custom" ng-click="gotoCarrierResults()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
        <!--</div>-->
    </div>
    <div class="text-vertical-center">
        <h1>GoFaster</h1>
        <h3>Delivering Anything Anywhere - Faster</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out How</a>
    </div>
</div>
<!-- About -->
<section id="about" class="about" style="background-color:white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Work for yourself</h2>
                <p>Travel when you want, make the money you need. It’s easy to get started. <a target="_blank" href="http://gofasterapp.com/signup">Sign Up Now..!</a></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>How GoFaster works</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-search fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Search</strong>
                            </h4>
                            <p>Enter "From" and "To" city to search for carriers and use sort-by option to filter carriers as per shipping date, pick-up time, package size, and price.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Choose</strong>
                            </h4>
                            <p>Select the carrier as per your requirement, pay online and request for pick-up.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-ticket fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Print</strong>
                            </h4>
                            <p>Once the payment is confirmed, shipping label will be generated which should be stuck to the parcel.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-paper-plane fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Track</strong>
                            </h4>
                            <p>You will get continuous updated via GoFaster App notification but you can also click on Track and enter your Waybil number to check the status.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Do you want to get paid to travel? Why not become one of our trusted network of On-Board Couriers.</h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio" style="background-color:white">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Testimony</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/images/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/images/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/images/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/images/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Are you an Adventurer? See how you can get paid to travel the world.</h3>
                <a href="#" class="btn btn-lg btn-light">Sign Up Now!</a>
                <a href="#" class="btn btn-lg btn-dark">More Info!</a>
            </div>
        </div>
    </div>
</aside>

<!-- Map -->
<section id="contact" class="map" style="background-color:white">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.533579689746!2d-0.21057178432522256!3d51.41162432552249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487608bef8bb6677%3A0x4b6cb3bffb792a2e!2s269+Kingston+Rd%2C+London+SW19+3NW!5e0!3m2!1sen!2suk!4v1480865590872"</iframe>
    <br />
    <small>
        <            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.533579689746!2d-0.21057178432522256!3d51.41162432552249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487608bef8bb6677%3A0x4b6cb3bffb792a2e!2s269+Kingston+Rd%2C+London+SW19+3NW!5e0!3m2!1sen!2suk!4v1480865590872"></a>
    </small>
    </iframe>
</section>

<!-- Footer -->
<section id="footer" class="container" style="background-color:white;vertical-align:middle;text-align:center;width:100%">
    <footer>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center;">
                <h4 style="color:Black">
                    <strong>GoFaster Technologies</strong>
                </h4>
                <p>
                    265-269 Kingston Road
                    <br>London, SW19 3NW
                </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (+44) 78755-86699</li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:support@gofasterapp.com">support@gofasterapp.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/gofasterapp"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; GoFaster Technologies 2015</p>
            </div>
        </div>
     </footer>
</section>
